<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Vue.JS</title>
</head>
<body>
    <div id="app">
        <h1 class="main-title">{{ mainTitle }}</h1>
        <div class="bubble">{{ greating }}</div>

        <div class="menu">
            <h1>Add two numbers</h1>
            <div>
                <input type="number" v-model="number0">
                <input type="number" v-model="number1">
            </div>

            <div>
                <button v-on:click="addFunction">Add</button>
                <button v-on:click="cleanResult">Clean</button>
            </div>

            <div>
                <input type="number" disabled v-model="result">
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="./styles.css">
</body>
</html>