<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Vue.JS</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <!-- No es recomendable llamar metodos en la interpolación del html -->
        <div>This is a method: {{ addFunction() }}</div>
        <div>This is a computed: {{ addComputed }}</div>
        <div>This is a message by v-text: <span v-text="message0"></span></div>
        <div>This is a message by v-html: <span v-html="message1"></span></div>
        <img v-bind:src="pictureUrl" v-bind:alt="alt">
        <div>
            <button v-on:click="addCount">Add 1</button>
            <span>{{ count }}</span>
        </div>
        <div v-show="isOn">Is on</div>
        <div v-if="!isOff">Is off</div>
        <div v-if="number0 === 40">Number0 is {{number0}}</div>
        <div v-else-if="number0 === 20">Number0 is {{number0}}</div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>
</html>